<nz-card [nzActions]="[increase, decrease, start, pause, stop]">
  <nz-card-meta
    [nzTitle]="'Counter'"
    [nzDescription]="'This is simple example how does Angular work with NgRx'"
  ></nz-card-meta>

  <app-counter-item
    [title]="'First component'"
    [number]="(firstNumber$ | async)!"
  ></app-counter-item>

  <app-counter-item
    [title]="'Second component'"
    [number]="(secondNumber$ | async)!"
  ></app-counter-item>
</nz-card>

<ng-template #increase>
  <i nz-icon
     [nzType]="'up-circle'"
     nz-tooltip
     [nzTooltipTitle]="'Increase both counters'"
     [nzTooltipPlacement]="'bottom'"
     (click)="increaseCounter()"
  ></i>
</ng-template>

<ng-template #decrease>
  <i nz-icon
     [nzType]="'down-circle'"
     nz-tooltip
     [nzTooltipTitle]="'Decrease both counters'"
     [nzTooltipPlacement]="'bottom'"
     (click)="decreaseCounter()"
  ></i>
</ng-template>

<ng-template #start>
  <i nz-icon
     [nzType]="'play-circle'"
     [nzTheme]="(isStarted$ | async) ? 'twotone' : 'outline'"
     nz-tooltip
     [nzTooltipTitle]="'Start automatically counting'"
     [nzTooltipPlacement]="'bottom'"
     (click)="startCounter()"
  ></i>
</ng-template>

<ng-template #pause>
  <i nz-icon
     [nzType]="'pause-circle'"
     [nzTheme]="(isPaused$ | async) ? 'twotone' : 'outline'"
     nz-tooltip
     [nzTooltipTitle]="'Pause counting'"
     [nzTooltipPlacement]="'bottom'"
     (click)="pauseCounter()"
  ></i>
</ng-template>

<ng-template #stop>
  <i nz-icon
     [nzType]="'stop'"
     nz-tooltip
     [nzTooltipTitle]="'Stop and reset counting'"
     [nzTooltipPlacement]="'bottom'"
     (click)="stopCounter()"
  ></i>
</ng-template>

